.portfolio-subheader-div {
  text-align: center;
}

.portfolio-subheader-text {
  font-size: 20px;
}

.portfolio-margin {
  margin-top: 3%;
  margin-bottom: 3%;
}

.header-card {
  margin-top: 1%;
  width: 80%;
  left: 10%;
}

.portfolio-page {
  background-color: #f0eee3;
  width: 100vw;
}

.overflow-div {
  overflow-y: scroll;
  overflow-x: hidden;
}

.portfolio-property-col ion-text {
  font-size: 1.2rem;
  margin-left: 32%;
}

@media only screen and (max-width: 1024px) {
  .portfolio-main-div {
    width: 100%;
  }

  .header-card {
    margin-top: 10%;
  }

  .portfolio-property-col {
    right: 2%;
  }

  .asset-worth-col {
    margin-left: 4%;
  }

  .portfolio-margin {
    margin-left: 4%;
  }

  .header-card {
    margin-left: -1%;
  }
}
